<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Patrick Steiner</string>
	<key>Builder Version</key>
	<string>13605.1.33.1.4</string>
	<key>CFBundleDisplayName</key>
	<string>Jira Issue Copy</string>
	<key>CFBundleIdentifier</key>
	<string>at.helmsdeep.jira-issue-copy</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>copy.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>copy.css</string>
		</array>
		<key>Whitelist</key>
		<array>
			<string>https://*.atlassian.net/browse/*</string>
		</array>
	</dict>
	<key>Description</key>
	<string>Inserts buttons for fast copy of issue key + summary for better copy&amp;paste usage</string>
	<key>DeveloperIdentifier</key>
	<string>6X47Q5RERE</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Allowed Domains</key>
			<array>
				<string>*.atlassian.net</string>
			</array>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>Some</string>
		</dict>
	</dict>
	<key>Website</key>
	<string>https://github.com/patricks/jira-issue-copy</string>
</dict>
</plist>
